{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Django Python</title>
</head>
<body>

{% include 'partials/_navbar.html' %}
    
<div class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile has-text-centered">
            <div class="column">

                <aside class="menu">
                    <ul class="menu-list">
                      <li>
                        <a class="is-active">Categories</a>
                        <ul>
                            {% for category in categories %}
                            <li> <a>{{ category }}</a> </li>
                            {% endfor %}
                        </ul>
                      </li>
                    </ul>
                  </aside>

            </div>
                    {% for movie in movies %}
                        {% if movie.homepage %}
                    <div class="column is-3">
                        <center>
                        {% include 'partials/_movie_card.html' %}
                        </center>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>

    </div>
</div>
</body>
</html>

